.navbar {
  background-color: palevioletred !important;
}
.nav-link {
  color: white !important;
  font-weight: bold;
}
.fa-shopping-cart,
.fa-user-circle-o {
  font-size: 32px;
}
.Products {
  margin-top: 30px;
}
.card {
  margin-bottom: 20px;
  height: auto;
}
.card-text {
  font-weight: bold;
}
.btn-primary {
  width: 100%;
  background-color: lightcoral;
}
.heading {
  text-align: center;
  font-weight: bold;
  color: lightcoral;
  margin: 20px;
}
.heading > h1 {
  text-shadow: 2px 2px 4px black;
}
footer {
  background-color: black;
  margin-top: 70px;
  text-align: justify;
  padding-top: 30px;
}
.aboutus,
.usefullinks,
.contact {
  height: 200px;
  margin-bottom: 30px;
  align-items: center;
}
footer span {
  font-size: 13px;
  color: gray;
}

footer a,
a:hover {
  color: white;
  text-decoration: none;
  font-size: 14px;
}
@media only screen and (max-width: 768px) {
  .aboutus,
  .usefullinks,
  .contact {
    width: auto;
    height: auto;
  }
}
@media only screen and (max-width: 425px) {
  iframe {
    width: 100%;
  }
}
@media only screen and (max-width: 1200px) {
  iframe {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  iframe {
    width: 100%;
  }
}
.about-col {
  width: 100%;
  vertical-align: middle;
  box-shadow: 0 8px 35px 0 #29abe2;
}
@media screen and (max-width: 600px) {
  .about-col {
    font-size: 12px;
  }
}
.about-col h5 {
  font-family: "Nanum Myeongjo", serif;
  color: #29abe2;
  text-align: center;
}
.about-col h2 {
  font-family: "Abril Fatface", cursive;
  color: #29abe2;
  text-align: center;
  line-height: 35px;
}
.form-row {
  margin-top: 30px !important;
}

#galleryimage {
  height: 400px;
  width: 350px;
  margin: 15px;
}
body {
  padding: 0px;
  margin: 0px;
}
